body {
    margin: 0px 0px 0px 0px;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      background: linear-gradient(45deg,#ff7854, #ff5079);
      overflow: hidden;
      margin: 0;
      padding: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-weight: 200;
      /* margin: 0px 0px 0px 0px; */
    }
  
    .topnav a.login {
      position: absolute;
      right: 50px;
      font-weight: 100;
    }
  
    .topnav .logo {
      margin: 0;
      height: auto;
      position: absolute;
      left: 100px;
    }
  
    .topnav .logo-link {
      width: 200px;
      object-fit: cover;
      padding: 0px;
      margin-right: 20px;
    }
  
    .topnav .navbar-menu{
      position: relative;
      left: 170px;
      
    }